// Should refactor the tab to a more generic place
%ul{:class => 'tabs'}
  %li{:class => 'selected'}
    %a{:href => '/week'} This Week
  %li
    %a{:href => '/next'} Next
  %li
    %a{:href => '/new'} New Event

%h3 New Event

%form{:action => '/new', :method => 'POST'}
  What?</br>
  %input{:type => 'text', :name => 'title'}
  When
  Who
  %input{:type => 'submit', :value => 'Create'}
